<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Voice Dictation | HOME</title>
    <link rel="stylesheet" href="{% static 'dict_pad/baseStyle.css' %}">
</head>
<body>
    <h1>Voice Dictation</h1>
    <form method="post" action="{% url 'dict_pad:download' %}">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
    <div class="controller">
        <button type="button" id="startBtn" onclick="myFunc()">Start</button>
        <br>
        <button type="button" id="stopBtn">Stop</button>
    </div>

    <script src="{% static 'dict_pad/index.js' %}"></script>
</body>
</html>