<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Voice Dictation | HOME</title>
    <link rel="stylesheet" href="{% static 'dict_pad/baseStyle.css' %}">
</head>
<body>
    <h1>Voice Dictation</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_div }}
        <button type="submit">Save</button>
    </form>
    <div>
        <button type="button">Start</button>
        <button type="button">Stop</button>
    </div>
</body>
</html>